@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital@1&family=Lobster&family=Rubik:ital,wght@1,300&display=swap');

// Fuentes
$fuente1: 'Arimo', sans-serif;
$fuente2: 'Lobster', cursive;

$fuente3: 'Rubik', sans-serif;
$fuente-titulo-noticia: 'Anton', sans-serif;