footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(187, 1, 1);
    margin-bottom: 0;
    height: 10rem;

    a{
        color: rgb(250, 206, 112);
    }

    p{
        color: white;
        padding-left: 20rem;
    }
}