.div-menu{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedor-menu{
    @include grid(4, 0);
    margin: 2rem;

    @include media(t2){
        @include grid(2, 0);
    }

    @include media(t1){
        @include grid(3, 0);
    }

    @include media(tab){
        @include grid(3, 0);
    }

    &.index{
        @include grid(3,0);

        img{
            height: 25rem;
            width: 38rem;
            object-fit: cover;

            @include media(t2){
                height: 8rem;
                width: 13rem;
            }

            @include media(t1){
                height: 12rem;
                width: 17rem;
            }

            @include media(tab){
                height: 15rem;
                width: 24rem;
            }
        }
    }
}

.titulo-menu{
    color: black;
}

.enlaces-redes{
    margin-top: 1.2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        height: 17rem;
        width: 28rem;
        object-fit: cover;

        @include media(t2){
            height: 12rem;
            width: 17rem;
        }

        @include media(t1){
            height: 12rem;
            width: 15.5rem;
        }

        @include media(tab){
            height: 15rem;
            width: 22.5rem;
        }
    }

    a{
        font-family: $fuente-titulo-noticia;
        font-size: 2rem;

        @include media(t2){
            font-size: 1.4rem;
        }

        @include media(t1){
            font-size: 1.6rem;
        }
    }
}

.cont-list{
    .titulo-encima{
        position: none;
        color: black;
        top: auto;

        &:hover{
            color: rgb(0, 140, 255);
        }
    }

    .noticia{
        height: 35rem;
    }
}

.contenedor-menu{
    &.tv{
        @include grid(4, 0.7rem);

        img{
            border-bottom: none;
            height: 42rem;
            width: 30rem;
        }
    }
}

.boton{

    @include media(t2){
        margin-top: -1rem;
        font-size: 2rem;
        padding: 1.5rem;    
    }
}


